# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
build/
dist/

# Env
.env
.env.local
.env.production

# Java / Spring Boot
target/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Others
coverage/
database/.venv/
backend/ecommerce/test/
database/test.py
